/* @import '../fonts/fonts.css'; */

.inputBox:focus-visible {
  outline: auto 0px;
}
.inputBox {
  font-weight: 700;
  font-family: 'Urbanist';
  padding: 11px 0px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 0 0 0 #f33f3f, inset 6em 3.5em 0 0 #f33f3f;
  font-size: 16px;
  font-family: 'Urbanist';
  transition: 0.25s;
  color: #fff;
  border: 2px solid #f33f3f;
  background: none;
  line-height: 1;
}

.rdrDay {
  padding: 0px;
  margin: 0px;
}

.rdrDayToday .rdrDayNumber span:after {
  background: #080808;
}

.inputBox:hover,
.inputBox:focus {
  transition: 0.3s;
  box-shadow: 0.3em 0.3em 0 0 #e4dada, inset 0.3em 0.3em 0 0 #e4dada;
  cursor: pointer;
  color: #ffffff;
  border-color: #1f1f1f;
}
