/* @import '../fonts/fonts.css'; */

.inputBox:focus-visible {
  outline: auto 0px;
}
.inputBox {
  font-size: 16px;
  font-weight: 700;
  font-family: 'Urbanist';
  transition: 0.3s;
  color: #fff;
  padding: 11px 0px;
  background: #f33f3f;
  line-height: 1;
  border: none !important;
  text-align: center;
  cursor: pointer;
}

.rdrDay {
  padding: 0px;
  margin: 0px;
}

.rdrDayToday .rdrDayNumber span:after {
  background: #080808;
}

.inputBox:hover,
.inputBox:focus {
  /* color: #080808; */
  background: #e4dada;
  transition: 0.3s;
}
