.tag-small {
  display: flex;
  width: fit-content;
  height: 25px;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 1.6px;
  color: #ffffff;
  background-color: #f33f3f;
  font-family: 'Urbanist';
  cursor: pointer;
  transition: 0.2s;
  user-select: none;
}

.tag-small:hover {
  color: #f33f3f;
  background-color: inherit;
  transition: 0.2s;
  animation: 1.2s ease-in-out 0s normal none infinite running
    trambling-animation;
}

.tag-medium {
  display: flex;
  width: fit-content;
  height: 28px;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.6px;
  color: #ffffff;
  background-color: #f33f3f;
  font-family: 'Urbanist';
  cursor: pointer;
  transition: 0.2s;
  user-select: none;
}

.tag-medium:hover {
  color: #f33f3f;
  background-color: inherit;
  transition: 0.2s;
  animation: 1.2s ease-in-out 0s normal none infinite running
    trambling-animation;
}

.tag-large {
  display: flex;
  width: fit-content;
  height: 45px;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1.6px;
  color: #ffffff;
  background-color: #f33f3f;
  font-family: 'Urbanist';
  cursor: pointer;
  transition: 0.2s;
  user-select: none;
}

.tag-large:hover {
  color: #f33f3f;
  background-color: inherit;
  transition: 0.2s;
  animation: 1.2s ease-in-out 0s normal none infinite running
    trambling-animation;
}

@keyframes trambling-animation {
  0%,
  50%,
  100% {
    transform: rotate(0deg);
  }
  10%,
  30% {
    transform: rotate(-1deg);
  }
  20%,
  40% {
    transform: rotate(1deg);
  }
}
