.castom-select__control {
  width: 180px !important;
  border: none !important;
  border-radius: 0 !important;
  font-family: 'Urbanist' !important;
  font-weight: 700 !important;
  cursor: pointer !important;
  box-shadow: none !important;
  transition: 0.4s !important;
  background-color: #f33f3f !important;
  letter-spacing: 1.3px !important;
}

.castom-select__input-container {
  caret-color: transparent !important;
}

.castom-select__control--is-focused {
  background-color: #f33f3f !important;
  transition: 0.4s !important;
  border: none !important;
  border-radius: 0 !important;
}

.css-tj5bde-Svg {
  color: #ffffff !important;
}

.castom-select__placeholder {
  color: #ffffff !important;
}

.castom-select__indicator-separator {
  background-color: #ffffff !important;
}

.castom-select__single-value {
  color: #ffffff !important;
  letter-spacing: 1.3px !important;
}

.castom-select__menu-list {
  overflow-y: visible !important;
}

.castom-select__menu {
  margin: 0 !important;
  width: 180px !important;
  box-shadow: none !important;
  letter-spacing: 1.2px !important;
  background: #e4dada !important;
  border: 2px solid #f33f3f;
  border-radius: 0 !important;
  overflow: hidden;
}

.castom-select__option {
  font-family: 'Urbanist' !important;
  font-weight: 700 !important;
  color: #f33f3f !important;
  background-color: #ffffff !important;
  transition: 0.25s !important;
}

.castom-select__option:hover {
  background-color: #080808 !important;
  transition: 0.25s !important;
  transform: translate(10px, 0);
}
