.castom-select__control {
  width: 180px !important;
  height: 38px !important;
  border: none !important;
  border-radius: 0 !important;
  cursor: pointer !important;
  box-shadow: none !important;
  letter-spacing: 1.3px !important;
  box-sizing: border-box !important;
  box-shadow: 0 0 0 0 #f33f3f, inset 6em 3.5em 0 0 #f33f3f !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  font-family: 'Urbanist' !important;
  transition: 0.25s !important;
  color: #fff !important;
  border: 2px solid #f33f3f !important;
  background: none !important;
  line-height: 1 !important;
}

.castom-select__control:hover,
.castom-select__control:focus {
  box-shadow: 0.3em 0.3em 0 0 #e4dada, inset 0.3em 0.3em 0 0 #e4dada !important;
  cursor: pointer !important;
  color: #ffffff !important;
  border-color: #1f1f1f !important;
}

.castom-select__input-container {
  caret-color: transparent !important;
  height: 38px;
  position: absolute;
}

.castom-select__control--is-focused {
  box-shadow: 0.1em 0.1em 0 0 #e4dada, inset 0.1em 0.1em 0 0 #e4dada !important;
  cursor: pointer !important;
  color: #ffffff !important;
  border-color: #1f1f1f !important;
}

.css-tj5bde-Svg {
  color: #ffffff !important;
}

.castom-select__placeholder {
  color: #ffffff !important;
}

.castom-select__indicator-separator {
  background-color: #ffffff !important;
}

.castom-select__single-value {
  color: #ffffff !important;
  letter-spacing: 1.3px !important;
}

.castom-select__menu-list {
  overflow-y: visible !important;
}

.castom-select__menu {
  width: 180px !important;
  max-height: 210px !important;
  margin: 0 !important;
  box-shadow: none !important;
  letter-spacing: 1.2px !important;
  background: #e4dada !important;
  border: 2px solid #e4dada;
  border-radius: 0 !important;
  overflow-x: hidden;
  overflow-y: auto;
}

.castom-select__menu::-webkit-scrollbar {
  width: 5px !important;
}

.castom-select__menu::-webkit-scrollbar-track {
  background: #ffffff !important;
}

.castom-select__menu::-webkit-scrollbar-thumb {
  background-color: #f33f3f !important;
  border-radius: 20px !important;
  border: 3px solid inherit !important;
}

.lable {
  max-width: 110px;
}

.castom-select__option {
  display: flex !important;
  align-items: center !important;
  font-family: 'Urbanist' !important;
  font-weight: 700 !important;
  color: #f33f3f !important;
  background-color: #ffffff !important;
  transition: 0.25s !important;
}

.castom-select__option:hover {
  /* background-color: #080808 !important; */
  transition: 0.25s !important;
  transform: translate(10px, 0) !important;
  /* color: #fff !important; */
}

.checkbox {
  display: none;
}

.checkbox_span {
  display: inline-block;
  height: 13px;
  width: 13px;
  margin-right: 5px;
  padding: 1.5px;
  border: 1px solid #1f1f1f;
  position: relative;
  background-color: #fff;
}
[type='checkbox']:checked + span:before {
  content: '\2714';
  position: absolute;
  top: -3px;
  left: 2px;
  font-size: 15px;
  color: #f33f3f;
}

@media (max-width: 968px) {
  .castom-select__menu {
    width: 340px !important;
  }
}

@media (max-width: 600px) {
  .castom-select__menu {
    width: 260px !important;
  }
}

/* .castom-select__value-container {
  flex-wrap: nowrap !important;
}

.castom-select__multi-value__label {
  max-width: 40px !important;
  padding: 2px !important;
  margin: 0 !important;
  font-size: 10px !important;
  background-color: #f33f3f;
  text-overflow: clip !important;
  color: #fff !important;
}

.castom-select__multi-value__remove {
  padding: 0 !important;
  margin: 0 !important;
  background-color: #f33f3f;
} */
