.castom-select__control {
  width: 180px !important;
  height: 38px !important;
  border: none !important;
  border-radius: 0 !important;
  cursor: pointer !important;
  box-shadow: none !important;
  letter-spacing: 1.3px !important;

  box-sizing: border-box !important;
  box-shadow: 0 0 0 0 #f33f3f, inset 6em 3.5em 0 0 #f33f3f !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  font-family: 'Urbanist' !important;
  transition: 0.25s !important;
  color: #fff !important;
  border: 2px solid #f33f3f !important;
  background: none !important;
  line-height: 1 !important;
}

.castom-select__control:hover,
.castom-select__control:focus {
  box-shadow: 0.3em 0.3em 0 0 #e4dada, inset 0.3em 0.3em 0 0 #e4dada !important;
  cursor: pointer !important;
  color: #ffffff !important;
  border-color: #1f1f1f !important;
}

.castom-select__input-container {
  caret-color: transparent !important;
  height: 38px;
  position: absolute;
}

.castom-select__control--is-focused {
  box-shadow: 0.1em 0.1em 0 0 #e4dada, inset 0.1em 0.1em 0 0 #e4dada !important;
  cursor: pointer !important;
  color: #ffffff !important;
  border-color: #1f1f1f !important;
}

.css-tj5bde-Svg {
  color: #ffffff !important;
}

.castom-select__placeholder {
  color: #ffffff !important;
}

.castom-select__indicator-separator {
  background-color: #ffffff !important;
}

.castom-select__single-value {
  color: #ffffff !important;
  letter-spacing: 1.3px !important;
}

.castom-select__menu-list {
  overflow-y: visible !important;
}

.castom-select__menu {
  margin: 0 !important;
  width: 180px !important;
  box-shadow: none !important;
  letter-spacing: 1.2px !important;
  background: #e4dada !important;
  border: 2px solid #e4dada;
  border-radius: 0 !important;
  overflow: hidden;
}

.castom-select__option {
  font-family: 'Urbanist' !important;
  font-weight: 700 !important;
  color: #f33f3f !important;
  background-color: #ffffff !important;
  transition: 0.25s !important;
}

.castom-select__option:hover {
  background-color: #080808 !important;
  transition: 0.25s !important;
  transform: translate(10px, 0) !important;
  color: #fff !important;
}
