.offset {
  box-sizing: border-box;
  box-shadow: 0 0 0 0 #f33f3f, inset 6em 3.5em 0 0 #f33f3f;
  font-size: 16px;
  font-weight: 700;
  font-family: 'Urbanist';
  transition: 0.25s;
  color: #fff;
  margin: 8px;
  border: 2px solid #f33f3f;
  background: none;
  line-height: 1;
  height: 38px;
  width: 195px;
  user-select: none;
}
.offset:hover {
  box-shadow: 0.3em 0.3em 0 0 #e4dada, inset 0.3em 0.3em 0 0 #e4dada;
  cursor: pointer;
  color: #ffffff;
  border-color: inherit;
}
