/* @import '../../fonts/fonts.css'; */
.wrapperInput {
  float: left;
  width: 27.33%;
  margin: 40px 3%;
  position: relative;
  scale: 0.9;
}
.mainInput {
  padding: 7px 14px;
  transition: 0.4s;
  background: transparent;
  border: 2px solid #e4dada;
}
.mainInput ~ .focus-border:before,
.mainInput ~ .focus-border:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #f33f3f;
  transition: 0.3s;
}
.mainInput ~ .focus-border:after {
  top: auto;
  bottom: 0;
  left: auto;
  right: 0;
}
.mainInput ~ .focus-border i:before,
.mainInput ~ .focus-border i:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 0;
  background-color: #f33f3f;
  transition: 0.4s;
}
.mainInput ~ .focus-border i:after {
  left: auto;
  right: 0;
  top: auto;
  bottom: 0;
}
.mainInput:focus ~ .focus-border:before,
.mainInput:focus ~ .focus-border:after,
.has-content.mainInput ~ .focus-border:before,
.has-content.mainInput ~ .focus-border:after {
  width: 100%;
  transition: 0.3s;
}
.mainInput:focus ~ .focus-border i:before,
.mainInput:focus ~ .focus-border i:after,
.has-content.mainInput ~ .focus-border i:before,
.has-content.mainInput ~ .focus-border i:after {
  height: 100%;
  transition: 0.4s;
}
.mainInput ~ label {
  position: absolute;
  left: 14px;
  width: 100%;
  top: 10px;
  color: #aaa;
  transition: 0.3s;
  z-index: -1;
  letter-spacing: 0.5px;
}
.mainInput:focus ~ label,
.has-content.mainInput ~ label {
  top: -18px;
  left: 0;
  font-size: 12px;
  color: #f33f3f;
  transition: 0.3s;
}

:focus {
  outline: none;
}

.wrapperInput {
  float: left;
  width: 27.33%;
  margin: 40px 3%;
  position: relative;
} /* necessary to give position: relative to parent. */

input[type='text'] {
  font: 15px/24px 'Lato', Arial, sans-serif;
  color: #333;
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
}
